@use 'variables';


/******************************************************* GENERAL *******************************************************/
*,
*:before,
*:after {
  	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
    display: flex;
    flex-direction: column;
	background-color: variables.$clr-background;
	font-family: monospace;
	font-weight: 400;
	max-width: 100vw;						/* Max width of every component will be the width of the device */
	overflow-x: hidden;						/* Locks side scorlling options */
}
/******************************************************* GENERAL *******************************************************/


/******************************************************* NAVBAR ********************************************************/
header {
    top: 0;
    left: 0;
    width: 100%;
    height: variables.$ms-bar-height;
    position: fixed;
    display: flex;
    flex-direction: row;

    .menu-area {
        z-index: 3;
        width: variables.$ms-bar-height;
        height: variables.$ms-bar-height;
        background-color: variables.$clr-background;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;

        .menu-button {
            width: 48px;
            height: 48px;
            transform: rotate(180deg);
            transition: ease-in-out 1000ms;
        }
    }

    .menu-drawer {
        width: 100%;
        height: variables.$ms-bar-height;
        display: flex;
        align-items: flex-end;
        background-color: variables.$clr-background;
        transform: translateX(-120%);
        transition: ease-in-out 1000ms;

        ul {
            list-style: none;
            display: flex;
            flex-direction: row;

            li {
                font-size: 20px;
                font-weight: 400;
                color: variables.$clr-white;
                margin-right: 3vw;
                animation: left-slide 2s ease-in-out;

                &::after {
                    content: '';
                    display: flex;
                    width: 0;
                    height: 2px;
                    background: variables.$clr-white;
                    transition: width .3s;
                }
        
                &:hover::after {
                    width: 100%;
                }
            }
        }
    }
}
/******************************************************* NAVBAR ********************************************************/


/******************************************************** HOME *********************************************************/
main {
    .landing-page {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
    

        .landing-anim {
            width: 50%;
            margin-top: 7vw;
            margin-left: 3vw;
            height: 100%;

            .screen {
                overflow: hidden;
                width: 100%;
                height: 100%;
                background: variables.$clr-background;
            }
            
            .terminal_emulator {
                bottom: 0;
                width: 100%;
                height: 100%;  
                padding: 40px 40px 0 40px;
                font-size: 20px;
                box-sizing: border-box;
                text-align: left;
                font-family: monospace;
                font-weight: 700;  
                color: variables.$clr-white;
            }
            
            .terminal_emulator__field, .terminal_emulator__command {
                position: relative;
                padding: 0 1em;
                margin: 0 0 9px 0;
            
                &:before,
                &:after {
                    position: absolute;
                }
                
                &:before {
                left: 0;
                top: 0;
                content:">";
                }
            }
            
            .terminal_emulator__response, .terminal_emulator__command b{
                padding-bottom: 9px;
            }
            
            .terminal_emulator__field {
                display: inline-block;
                min-width: 1em;
                min-height: 1.5em;
                box-sizing: border-box;

                &:after {
                    right: 0;
                    bottom: 0.25em;
                    content:"";
                    width: 1em;
                    height: 1.5em;
                    background: variables.$clr-white;
                    animation: caretBlink 1s infinite;
                }
                
                &.waiting {
                    padding-left: 0;
                    padding-right: 0;

                    &:before {
                        display: none;
                    }
                }
            }
        }
    }

    .students-page {
        height: 100vh;
    }
}
/******************************************************** HOME *********************************************************/


/******************************************************* ANIMAT ********************************************************/
@keyframes left-slide {
    from {
        display: none;
        transform: translateX(-10%);

    } to {
        display: inline;
        transform: translateX(0%);
    }
}

@keyframes caretBlink {
    0% { opacity: 0; } 
    50% { opacity: 0; }
    51% { opacity: 1; }
    100% { opacity: 1; }
}
/******************************************************* ANIMAT ********************************************************/
