@use 'variables';

*,
*:before,
*:after {
  	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background-color: variables.$clr-background;
	font-family: 'Clash Grotesk', sans-serif;
	font-weight: 400;
	max-width: 100vw;						/* Max width of every component will be the width of the device */
	overflow-x: hidden;						/* Locks side scorlling options */
}