@use 'variables';
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');


/******************************************************* GENERAL *******************************************************/
*,
*:before,
*:after {
  	box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
    display: flex;
    flex-direction: column;
	font-family: 'JetBrains Mono', monospace;
	font-weight: 400;
	max-width: 100vw;						/* Max width of every component will be the width of the device */
	overflow-x: hidden;						/* Locks side scorlling options */
}

.row-content {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.column-content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.fullpage {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    width: 100%;
    height: 100vh;
}

.section {
    scroll-snap-align: start;
}

.page {
    //font-family: 'Inter', sans-serif;
    font-family: 'Clash Grotesk', sans-serif;
}

.page-title {
    font-size: 38px;
    font-weight: 500;
}

.button {
    width: 160px;
    height: 50px;
    font-family: 'JetBrains Mono', monospace;
    font-size: 17px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    color: variables.$clr-white;
    border: 1px solid variables.$clr-white;

}
/******************************************************* GENERAL *******************************************************/


/******************************************************* NAVBAR ********************************************************/
header {
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: variables.$ms-bar-height;
    position: fixed;
    display: flex;
    flex-direction: row;
    //font-family: 'Inter', sans-serif;
    font-family: 'Clash Grotesk', sans-serif;

    .menu-area {
        z-index: 3;
        width: variables.$ms-bar-height;
        height: variables.$ms-bar-height;
        background-color: variables.$clr-background;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;

        .menu-button {
            width: 48px;
            height: 48px;
            transform: rotate(180deg);
            transition: ease-in-out 1000ms;
        }
    }

    .menu-drawer {
        width: 94%;
        height: variables.$ms-bar-height;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        background-color: variables.$clr-background;
        transform: translateX(-120%);
        transition: ease-in-out 1000ms;

        ul {
            list-style: none;
            display: flex;
            flex-direction: row;

            li {
                font-size: 20px;
                font-weight: 400;
                margin-right: 3vw;
                animation: left-slide 2s ease-in-out;

                a {
                    color: variables.$clr-white;
                    text-decoration: none;
                }

                &::after {
                    content: '';
                    display: flex;
                    width: 0;
                    height: 2px;
                    background: variables.$clr-white;
                    transition: width .3s;
                }
        
                &:hover::after {
                    width: 100%;
                }
            }
        }
    }
}
/******************************************************* NAVBAR ********************************************************/


/******************************************************** HOME *********************************************************/
main {
    .landing-page {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: row;
        background-color: variables.$clr-background;

        .landing-anim {
            width: 50%;
            height: 100%;

            .screen {
                overflow: hidden;
                width: 100%;
                height: 78%;
                margin-top: 10.8vw;
                margin-left: 6.8vw;
                background: variables.$clr-background;
            }
            
            .terminal_emulator {
                bottom: 0;
                width: 100%;
                height: 100%;
                font-family: monospace;
                font-size: 20px;
                box-sizing: border-box;
                text-align: left;
                font-weight: 700;  
                color: variables.$clr-white;
            }
            
            .terminal_emulator__field, .terminal_emulator__command {
                z-index: 0;
                position: relative;
                padding: 0 1em;
                margin: 0 0 9px 0;
            
                &:before,
                &:after {
                    position: absolute;
                }
                
                &:before {
                left: 0;
                top: 0;
                content:">";
                }
            }
            
            .terminal_emulator__response, .terminal_emulator__command b {
                padding-bottom: 9px;
            }
            
            .terminal_emulator__field {
                display: inline-block;
                min-width: 1em;
                min-height: 1.5em;
                box-sizing: border-box;

                &:after {
                    right: 0;
                    bottom: 0.25em;
                    content:"";
                    width: 1em;
                    height: 1.5em;
                    background: variables.$clr-white;
                    animation: caretBlink 1s infinite;
                }
                
                &.waiting {
                    padding-left: 0;
                    padding-right: 0;

                    &:before {
                        display: none;
                    }
                }
            }
        }

        .landing-text {
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;
            margin-right: 3.4vw;
            color: variables.$clr-white;

            .hashtag {
                margin-top: 3vw;
                font-size: 18px;
                font-weight: 400;
                text-align: right;
                color: variables.$clr-white;
            }

            .landing-title {
                text-align: right;
                color: variables.$clr-white;
            }

            .home-button {
                margin-top: 3vw;
                transition: .5s ease background-color;

                &:hover {
                    color: variables.$clr-background;
                    background-color: variables.$clr-white;
                }
            }
        }
    }
/******************************************************** HOME *********************************************************/


/**************************************************** METRICS PAGE *****************************************************/
    .metrics-page {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        background-color: variables.$clr-white;

        .metrics-title {
            margin-top: 6vw;
            margin-left: 6.8vw;
            color: variables.$clr-background;
        }

        .metrics-stats {
            width: 100%;
            justify-content: space-between;
            margin-top: 0.5vw;
            margin-left: 6.8vw;

            .metrics-stat {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 220px;
                height: 110px;
                color: #54B4A1;
                border-radius: 10px;
                margin-top: 35px;
                margin-right: 30px;
                color: variables.$clr-background;

                .metrics-bigstext {
                    font-size: 90px;
                    font-weight: 500;
                }

                .metrics-smallstext {
                    font-size: 16px;
                    font-weight: 300;
                }
            }
        }

        .metrics-par {
            width: 90%;
            display: flex;
            align-self: center;
            justify-self: center;
            margin-top: 11.5vw;
            margin-right: 3.4vw;
            font-size: 18px;
            font-weight: 400;
            text-align: right;
            color: variables.$clr-background;
        }

        .graph {
            width: 89%;
            height: 250px;
            margin-left: 6.8vw;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 5vw;
        }
    }
/**************************************************** METRICS PAGE *****************************************************/


/*************************************************** STUDENTS PAGE *****************************************************/
    .students-page {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        background-color: variables.$clr-background;

        .students-title {
            margin-top: 6vw;
            margin-left: 19.7vw;
            color: variables.$clr-white;
        }

        .students-stats {
            width: 100%;
            justify-content: space-between;
            margin-top: 0.5vw;
            margin-left: 26vw;

            .students-stat {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 250px;
                height: 110px;
                color: #54B4A1;
                border-radius: 10px;
                margin-top: 35px;
                margin-right: 30px;
                color: variables.$clr-white;

                .students-bigstext {
                    font-size: 90px;
                    font-weight: 500;
                }

                .students-smallstext {
                    align-self: flex-end;
                    text-align: right;
                    font-size: 16px;
                    font-weight: 300;
                }
            }
        }

        .students-par {
            width: 90%;
            display: flex;
            align-self: center;
            justify-self: center;
            margin-top: 11.5vw;
            margin-left: 6.8vw;
            font-size: 18px;
            font-weight: 400;
            text-align: left;
            color: variables.$clr-white;
        }

        .students-carousel {
            margin-top: 6vw;
            margin-left: 6.7vw;
            width: 88%;

            .slide {
                img {
                    filter: grayscale(100%);
                }

                .profile {
                    display: flex;
                    flex-direction: column;
                    width: 250px;
                    height: 300px;
                    align-items: center;

                    img {
                        width: 200px;
                    }

                    .user-button {
                        margin-top: 20px;
                        transition: .5s ease background-color;

                        &:hover {
                            color: variables.$clr-background;
                            background-color: variables.$clr-white;
                        }
                    }
                }
            }

            .slick-slide{
                margin: 0 20px;
            }
            .slick-slide img{
                width: 100%;
            }
            .slick-slider{
                position: relative;
                display: block;
                box-sizing: border-box;
            }
            .slick-list{
                position: relative;
                display: block;
                overflow: hidden;
                margin: 0;
                padding: 0;
            }
            .slick-track{
                position: relative;
                top: 0;
                left: 0;
                display: block
            }
            .slick-slide{
                display: none;
                float: left;
                height: 100%;
                min-height: 1px;
            }
            .slick-slide img{
                display: block;
            }
            .slick-initialized .slick-slide{
                display: block;
            }
            .copy{
                padding-top: 250px;
            }
        }
    }
/*************************************************** STUDENTS PAGE *****************************************************/


/*************************************************** COMPANIES PAGE ****************************************************/
    .companies-page {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        background-color: variables.$clr-white;

        .companies-title {
            margin-top: 6vw;
            margin-left: 11vw;
            color: variables.$clr-background;
        }

        .companies-stats {
            width: 100%;
            justify-content: space-between;
            margin-top: 0.5vw;
            margin-left: 27vw;

            .companies-stat {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 250px;
                height: 110px;
                color: #54B4A1;
                border-radius: 10px;
                margin-top: 35px;
                margin-right: 30px;
                color: variables.$clr-background;

                .companies-bigstext {
                    font-size: 90px;
                    font-weight: 500;
                }

                .companies-smallstext {
                    align-self: flex-end;
                    text-align: right;
                    font-size: 16px;
                    font-weight: 300;
                }
            }
        }

        .companies-par {
            width: 90%;
            display: flex;
            align-self: center;
            justify-self: center;
            margin-top: 11.5vw;
            margin-left: 6.8vw;
            font-size: 18px;
            font-weight: 400;
            text-align: left;
            color: variables.$clr-background;
        }

        .partners-carousel {
            margin-top: 7vw;
            margin-left: 6.7vw;
            width: 88%;

            .slide {
                img {
                    filter: grayscale(100%);
                }
            }

            .slick-slide{
                margin: 0 20px;
            }
            .slick-slide img{
                width: 100%;
            }
            .slick-slider{
                position: relative;
                display: block;
                box-sizing: border-box;
            }
            .slick-list{
                position: relative;
                display: block;
                overflow: hidden;
                margin: 0;
                padding: 0;
            }
            .slick-track{
                position: relative;
                top: 0;
                left: 0;
                display: block
            }
            .slick-slide{
                display: none;
                float: left;
                height: 100%;
                min-height: 1px;
            }
            .slick-slide img{
                display: block;
            }
            .slick-initialized .slick-slide{
                display: block;
            }
            .copy{
                padding-top: 250px;
            }
        }
    }
/*************************************************** COMPANIES PAGE ****************************************************/


/*************************************************** TEACHERS PAGE *****************************************************/
    .teachers-page {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        background-color: variables.$clr-background;

        .teachers-title {
            margin-top: 6vw;
            margin-left: 6.8vw;
            color: variables.$clr-white;
        }

        .teachers-stats {
            width: 100%;
            justify-content: space-between;
            margin-top: 0.5vw;
            margin-left: 6.8vw;

            .teachers-stat {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 220px;
                height: 110px;
                color: #54B4A1;
                border-radius: 10px;
                margin-top: 35px;
                margin-right: 30px;
                color: variables.$clr-white;

                .teachers-bigstext {
                    font-size: 90px;
                    font-weight: 500;
                }

                .teachers-smallstext {
                    font-size: 16px;
                    font-weight: 300;
                }
            }
        }

        .teachers-par {
            width: 90%;
            display: flex;
            align-self: center;
            justify-self: center;
            margin-top: 11.5vw;
            margin-right: 3.4vw;
            font-size: 18px;
            font-weight: 400;
            text-align: right;
            color: variables.$clr-white;
        }

        .teachers-carousel {
            margin-top: 6vw;
            margin-left: 6.7vw;
            width: 88%;

            .slide {
                img {
                    filter: grayscale(100%);
                }

                .profile {
                    display: flex;
                    flex-direction: column;
                    width: 250px;
                    height: 300px;
                    align-items: center;

                    img {
                        width: 200px;
                    }

                    .user-button {
                        margin-top: 20px;
                        transition: .5s ease background-color;

                        &:hover {
                            color: variables.$clr-background;
                            background-color: variables.$clr-white;
                        }
                    }
                }
            }

            .slick-slide{
                margin: 0 20px;
            }
            .slick-slide img{
                width: 100%;
            }
            .slick-slider{
                position: relative;
                display: block;
                box-sizing: border-box;
            }
            .slick-list{
                position: relative;
                display: block;
                overflow: hidden;
                margin: 0;
                padding: 0;
            }
            .slick-track{
                position: relative;
                top: 0;
                left: 0;
                display: block
            }
            .slick-slide{
                display: none;
                float: left;
                height: 100%;
                min-height: 1px;
            }
            .slick-slide img{
                display: block;
            }
            .slick-initialized .slick-slide{
                display: block;
            }
            .copy{
                padding-top: 250px;
            }
        }
    }
}
/*************************************************** TEACHERS PAGE *****************************************************/


/******************************************************* ANIMAT ********************************************************/
@keyframes left-slide {
    from {
        display: none;
        transform: translateX(-10%);

    } to {
        display: inline;
        transform: translateX(0%);
    }
}

@keyframes caretBlink {
    0% { opacity: 0; } 
    50% { opacity: 0; }
    51% { opacity: 1; }
    100% { opacity: 1; }
}
/******************************************************* ANIMAT ********************************************************/
