@use '../../src/variables';

.students-page {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: variables.$clr-background;

    .students-carousel {
        margin: 4.5vw 0 0 6.7vw;
        width: 88%;
    }
}
