@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
/******************************************************* GENERAL *******************************************************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: "JetBrains Mono", monospace;
  font-weight: 400;
  max-width: 100vw;
  /* Max width of every component will be the width of the device */
  overflow-x: hidden;
  /* Locks side scorlling options */
}

.row-content {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.column-content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.fullpage {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  width: 100%;
  height: 100vh;
}

.section {
  scroll-snap-align: start;
}

.page-title {
  font-size: 38px;
  font-weight: 500;
}

.button {
  width: 160px;
  height: 50px;
  font-family: "JetBrains Mono", monospace;
  font-size: 17px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  border: 1px solid #ffffff;
}

/******************************************************* GENERAL *******************************************************/
/******************************************************* NAVBAR ********************************************************/
header {
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 72px;
  position: fixed;
  display: flex;
  flex-direction: row;
  font-family: "Clash Grotesk", sans-serif;
}
header .menu-area {
  z-index: 3;
  width: 72px;
  height: 72px;
  background-color: #2e347c;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
header .menu-area .menu-button {
  width: 48px;
  height: 48px;
  transform: rotate(180deg);
  transition: ease-in-out 1000ms;
}
header .menu-drawer {
  width: 94%;
  height: 72px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  background-color: #2e347c;
  transform: translateX(-120%);
  transition: ease-in-out 1000ms;
}
header .menu-drawer ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}
header .menu-drawer ul li {
  font-size: 20px;
  font-weight: 400;
  margin-right: 3vw;
  animation: left-slide 2s ease-in-out;
}
header .menu-drawer ul li a {
  color: #ffffff;
  text-decoration: none;
}
header .menu-drawer ul li::after {
  content: "";
  display: flex;
  width: 0;
  height: 2px;
  background: #ffffff;
  transition: width 0.3s;
}
header .menu-drawer ul li:hover::after {
  width: 100%;
}

/******************************************************* NAVBAR ********************************************************/
/******************************************************** HOME *********************************************************/
main {
  /******************************************************** HOME *********************************************************/
  /**************************************************** METRICS PAGE *****************************************************/
  /**************************************************** METRICS PAGE *****************************************************/
  /*************************************************** STUDENTS PAGE *****************************************************/
  /*************************************************** STUDENTS PAGE *****************************************************/
  /*************************************************** COMPANIES PAGE ****************************************************/
  /*************************************************** COMPANIES PAGE ****************************************************/
  /*************************************************** TEACHERS PAGE *****************************************************/
}
main .landing-page {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  background-color: #2e347c;
}
main .landing-page .landing-anim {
  width: 50%;
  height: 100%;
}
main .landing-page .landing-anim .screen {
  overflow: hidden;
  width: 100%;
  height: 78%;
  margin-top: 10.8vw;
  margin-left: 6.8vw;
  background: #2e347c;
}
main .landing-page .landing-anim .terminal_emulator {
  bottom: 0;
  width: 100%;
  height: 100%;
  font-family: monospace;
  font-size: 20px;
  box-sizing: border-box;
  text-align: left;
  font-weight: 700;
  color: #ffffff;
}
main .landing-page .landing-anim .terminal_emulator__field, main .landing-page .landing-anim .terminal_emulator__command {
  z-index: 0;
  position: relative;
  padding: 0 1em;
  margin: 0 0 9px 0;
}
main .landing-page .landing-anim .terminal_emulator__field:before, main .landing-page .landing-anim .terminal_emulator__field:after, main .landing-page .landing-anim .terminal_emulator__command:before, main .landing-page .landing-anim .terminal_emulator__command:after {
  position: absolute;
}
main .landing-page .landing-anim .terminal_emulator__field:before, main .landing-page .landing-anim .terminal_emulator__command:before {
  left: 0;
  top: 0;
  content: ">";
}
main .landing-page .landing-anim .terminal_emulator__response, main .landing-page .landing-anim .terminal_emulator__command b {
  padding-bottom: 9px;
}
main .landing-page .landing-anim .terminal_emulator__field {
  display: inline-block;
  min-width: 1em;
  min-height: 1.5em;
  box-sizing: border-box;
}
main .landing-page .landing-anim .terminal_emulator__field:after {
  right: 0;
  bottom: 0.25em;
  content: "";
  width: 1em;
  height: 1.5em;
  background: #ffffff;
  animation: caretBlink 1s infinite;
}
main .landing-page .landing-anim .terminal_emulator__field.waiting {
  padding-left: 0;
  padding-right: 0;
}
main .landing-page .landing-anim .terminal_emulator__field.waiting:before {
  display: none;
}
main .landing-page .landing-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin-right: 3.4vw;
  color: #ffffff;
}
main .landing-page .landing-text .hashtag {
  margin-top: 3vw;
  font-size: 18px;
  font-weight: 400;
  text-align: right;
  color: #ffffff;
}
main .landing-page .landing-text .landing-title {
  text-align: right;
  color: #ffffff;
}
main .landing-page .landing-text .home-button {
  margin-top: 3vw;
  transition: 0.5s ease background-color;
}
main .landing-page .landing-text .home-button:hover {
  color: #2e347c;
  background-color: #ffffff;
}
main .metrics-page {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Clash Grotesk", sans-serif;
  background-color: #ffffff;
}
main .metrics-page .metrics-title {
  margin-top: 6vw;
  margin-left: 6.8vw;
  color: #2e347c;
}
main .metrics-page .metrics-stats {
  width: 100%;
  justify-content: space-between;
  margin-top: 0.5vw;
  margin-left: 6.8vw;
}
main .metrics-page .metrics-stats .metrics-stat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 220px;
  height: 110px;
  color: #54B4A1;
  border-radius: 10px;
  margin-top: 35px;
  margin-right: 30px;
  color: #2e347c;
}
main .metrics-page .metrics-stats .metrics-stat .metrics-bigstext {
  font-size: 90px;
  font-weight: 500;
}
main .metrics-page .metrics-stats .metrics-stat .metrics-smallstext {
  font-size: 16px;
  font-weight: 300;
}
main .metrics-page .metrics-par {
  width: 90%;
  display: flex;
  align-self: center;
  justify-self: center;
  margin-top: 11.5vw;
  margin-right: 3.4vw;
  font-size: 18px;
  font-weight: 400;
  text-align: right;
  color: #2e347c;
}
main .metrics-page .graph {
  width: 89%;
  height: 250px;
  margin-left: 6.8vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5vw;
}
main .students-page {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Clash Grotesk", sans-serif;
  background-color: #2e347c;
}
main .companies-page {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Clash Grotesk", sans-serif;
  background-color: #ffffff;
}
main .companies-page .companies-title {
  margin-top: 6vw;
  margin-left: 11vw;
  color: #2e347c;
}
main .companies-page .companies-stats {
  width: 100%;
  justify-content: space-between;
  margin-top: 0.5vw;
  margin-left: 27vw;
}
main .companies-page .companies-stats .companies-stat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 250px;
  height: 110px;
  color: #54B4A1;
  border-radius: 10px;
  margin-top: 35px;
  margin-right: 30px;
  color: #2e347c;
}
main .companies-page .companies-stats .companies-stat .companies-bigstext {
  font-size: 90px;
  font-weight: 500;
}
main .companies-page .companies-stats .companies-stat .companies-smallstext {
  align-self: flex-end;
  text-align: right;
  font-size: 16px;
  font-weight: 300;
}
main .companies-page .companies-par {
  width: 90%;
  display: flex;
  align-self: center;
  justify-self: center;
  margin-top: 11.5vw;
  margin-left: 6.8vw;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  color: #2e347c;
}
main .companies-page .partners-carousel {
  margin-top: 7vw;
  margin-left: 6.8vw;
  width: 90%;
}
main .companies-page .partners-carousel .slide img {
  filter: grayscale(100%);
}
main .companies-page .partners-carousel .slick-slide {
  margin: 0 20px;
}
main .companies-page .partners-carousel .slick-slide img {
  width: 100%;
}
main .companies-page .partners-carousel .slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
}
main .companies-page .partners-carousel .slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
main .companies-page .partners-carousel .slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
main .companies-page .partners-carousel .slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
main .companies-page .partners-carousel .slick-slide img {
  display: block;
}
main .companies-page .partners-carousel .slick-initialized .slick-slide {
  display: block;
}
main .companies-page .partners-carousel .copy {
  padding-top: 250px;
}
main .teachers-page {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Clash Grotesk", sans-serif;
  background-color: #2e347c;
}

/*************************************************** TEACHERS PAGE *****************************************************/
/******************************************************* ANIMAT ********************************************************/
@keyframes left-slide {
  from {
    display: none;
    transform: translateX(-10%);
  }
  to {
    display: inline;
    transform: translateX(0%);
  }
}
@keyframes caretBlink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  51% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
/******************************************************* ANIMAT ********************************************************/

/*# sourceMappingURL=style.css.map */
