@use '../../variables';

.page-header { 
    width: 100%;
    height: auto;
    margin: calc(variables.$ms-bar-height + 25px) 0 2vh 3vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .stat-group {
        width: 30%;
        text-align: left;
        margin-right: 3vh;

        .page-title {
            font-size: 38px;
            font-weight: 500;
        }

        .stat {
            margin-top: 10px;
            font-size: 90px;
            font-weight: 500;
        }

        .stat-text {
            font-size: 16px;
            font-weight: 300;
        }
    }

    .page-paragraph {
        width: 45%;
        margin-top: calc(variables.$ms-bar-height);
        text-align: right;
        font-size: 17px;
        font-weight: 400;
    }
}

@media screen and (max-width: 768px) {
    .page-header {
        flex-direction: column !important;
        margin: 6vh 0 2vh 3vh;

        .stat-group {
            width: 100%;
            text-align: left;
            margin-right: 3vh;
    
            .page-title {
                font-size: 6vw;
                font-weight: 500;
            }
    
            .stat {
                margin-top: 10px;
                font-size: 16vw;
                font-weight: 500;
            }
    
            .stat-text {
                font-size: 3.5vw;
                font-weight: 300;
            }
        }

        .page-paragraph {
            width: 100%;
            margin-top: 20px;
            text-align: right;
            font-size: 17px;
            font-weight: 400;
        }
    }
}
